@import './Landing-Page-Style.css';
@import './work.css';
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC');

* {
  min-height: 0;
  min-width: 0;
}

body{
  background-color: black;
  color: white;
  font-family: 'Alegreya SC', serif;
  overflow-x: hidden;
}

#page-wrap {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#god-container{
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: black;
  font-family: 'Alegreya SC', serif;
/*  height: 150px;
  padding: 20px;*/
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-header{
  height: 300px;
  margin-top: -65px;
  margin-bottom: -20px;
}

.page-header{
  border-bottom: 1px solid #999;
  padding-bottom: 16px;
  font-size: 2em;
  text-decoration: none;
  color: white;
  margin-bottom: 30px;
  margin-top: 20px;
}

.header-link{
  color: white;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item{
  text-decoration: none;
  color: white;
  padding: inherit;
  font-size: 27px;
  font-family: 'Josefin Sans', sans-serif;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.menu-item:hover{
  color: black;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.sm-contact{
  display: flex;
  height: 50px;
  width: 165px;
  align-self: flex-end;
  justify-content: space-around;
  align-items: center;
  margin-right: 10px;
}

.imgTagLogos{
  height: 25px;
  filter: grayscale(100%);
  cursor: pointer;
}

.imgTagLogos:hover {
  height: 25px;
  filter: grayscale(0%);
}

.bm-burger-button button{
  cursor: pointer;
}

.bm-cross-button button{
  cursor: pointer;
}

.footer{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 75px;
}

.build-creds{
  text-decoration: none;
  color: rgb(55,58,71);
  margin: 10px;
}

.about-us-container{
  width: 100%;
  height: 400px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.polaroid-container{
  width: 25%;
  height: 350px;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.image-container{
  width: 80%;
  height: 300px;
  background-color: black;
}

@media only screen and (max-width: 650px){
  .App-header{
    margin-top: 55px;
    width: 80%;
  }
  .build-creds{
    display: none;
  }
}

@media only screen and (max-width: 474px){
  .video-wrapper{
    height: 300px;
  }
}